
h1{
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(1, 141, 71);
}
.dibba{
    padding: 50px;
    margin: 20px 120px 20px ;
    border: 5px solid rgb(1, 141, 71);
     font-family: sans-serif;
     background-color: rgb(91, 247, 151);
}
#name{
    color: rgb(72, 114, 252);
}